# Shared Redis settings used across services
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Whether redis responses should be decoded to str; set to 'True' to enable
REDIS_DECODE_RESPONSES=False
DEBUG=True